<plugin name='skin-loader' version='1.0.9' grailsVersion='2.0.0.M1'>
  <author>Anthony Campbell</author>
  <authorEmail>acampbell3000 [[at]] mail from google</authorEmail>
  <title>Skin Loader</title>
  <description>A simple plug-in which provides the ability to load "skin" into your application or plug-in.</description>
  <documentation>http://grails.org/plugin/skin-loader</documentation>
  <type>SkinLoaderGrailsPlugin</type>
  <resources>
    <resource>BootStrap</resource>
    <resource>spring.resources</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>